venv/s
db.sqlite3
media/
media/*
.claude/

# Include only the current media example files used by the app
!media/
!media/backgrounds/
!media/backgrounds/user_1/
!media/backgrounds/user_2/
!media/backgrounds/user_1/c.jpg
!media/backgrounds/user_2/Longcat_is_loooooooooong.jpg
!media/boards/
!media/boards/2025/
!media/boards/2025/12/
!media/boards/2025/12/08/
!media/boards/2025/12/09/
!media/boards/2025/12/27/
!media/boards/2025/12/08/png-clipart-japan-national-cherry-blossom-festival-pink-cherry-icon-pi_KSPXlZ0.png
!media/boards/2025/12/08/tabby-cat.jpg
!media/boards/2025/12/08/tabby-cat_U0ovBdo.jpg
!media/boards/2025/12/09/4c76486fa16f89f60dbfdd203f6071e667155dd196d04cf69ce419ed7df1047b.gif
!media/boards/2025/12/09/a61de12663904e43b4a677d200e894e5.gif
!media/boards/2025/12/09/black-cat-rolling-on-ground.jpg
!media/boards/2025/12/09/tabby-cat.jpg
!media/boards/2025/12/09/tabby-cat_w6Jv9xU.jpg
!media/boards/2025/12/27/tabby-cat.jpg
!media/boards/2026/
!media/boards/2026/01/
!media/boards/2026/01/06/
!media/boards/2026/01/07/
!media/boards/2026/02/
!media/boards/2026/02/11/
!media/boards/2026/02/21/
!media/boards/2026/05/
!media/boards/2026/05/11/
!media/boards/2026/01/06/black-cat-rolling-on-ground.jpg
!media/boards/2026/01/06/black-cat-rolling-on-ground_kgSs9KS.jpg
!media/boards/2026/01/06/tabby-cat.jpg
!media/boards/2026/01/07/a61de12663904e43b4a677d200e894e5.gif
!media/boards/2026/01/07/a61de12663904e43b4a677d200e894e5_Cymp3eC.gif
!media/boards/2026/01/07/png-clipart-japan-national-cherry-blossom-festival-pink-cherry-icon-pi_UZRZiY3.png
!media/boards/2026/01/07/tabby-cat.jpg
!media/boards/2026/02/11/black-cat-rolling-on-ground.jpg
!media/boards/2026/02/21/black-cat-rolling-on-ground.jpg
!media/boards/2026/02/21/NationalGeographic_2572187_square.avif
!media/boards/2026/02/21/tabby-cat.jpg
!media/boards/2026/02/21/tabby-cat_AAe8l32.jpg
!media/boards/2026/05/11/4c76486fa16f89f60dbfdd203f6071e667155dd196d04cf69ce419ed7df1047b.gif
!media/boards/2026/05/11/a61de12663904e43b4a677d200e894e5.gif
!media/boards/2026/05/11/a61de12663904e43b4a677d200e894e5_kRydNcs.gif
!media/boards/2026/05/11/desert_cat.jpg
!media/boards/2026/05/11/Longcat_is_loooooooooong.jpg
!media/boards/2026/05/11/silly.gif
!media/profiles/
!media/profiles/user_1/
!media/profiles/user_2/
!media/profiles/user_3/
!media/profiles/user_1/black-cat-rolling-on-ground.jpg
!media/profiles/user_2/default_profile_image.png
!media/profiles/user_3/cat.jpeg